<div class="container footer" class="taskbar"
fxLayout="row wrap" 
fxLayout.lt-md="column" 
fxLayoutAlign="center center" 
fxLayoutGap="10px">
<div fxFlex="100" fxFlex.gt-sm="50">
<div fxLayout="row">
<div fxFlex="40" fxFlexOffset="20px">
  <mat-list>
    <mat-list-item ><a mat-button  routerLink="/home">Home</a></mat-list-item>
<mat-list-item > <a  mat-button  routerLink="/contactus">Contact us</a></mat-list-item>
<mat-list-item > <a  mat-button   routerLink="/project">Projects</a></mat-list-item>
<mat-list-item > <a  mat-button  routerLink="/about">About</a></mat-list-item>
<mat-list-item > <a   mat-button routerLink="/placeorder">PlaceOrder</a></mat-list-item>
<mat-list-item > <a   mat-button routerLink="/logout">Logout</a></mat-list-item>
<mat-list-item > <a   mat-button routerLink="/placeorder" ></a></mat-list-item>
    <mat-list-item><img  width="200" heigth="100"
      src="https://i.ibb.co/J55zPLH/56790835-259719721486836-8181305012547223552-n-removebg-preview.png" alt=""></mat-list-item>
  </mat-list>
</div>
<div fxFlex="55">
  <h2>Our Address</h2>
  <address style="font-size: 100%">
    121, Bungala thottam <br> periyakulam, sathyamangalam<br> ERODE<br>
    <mat-icon>phone</mat-icon>: +91 8489915880<br>
    <mat-icon>book</mat-icon>: +852 8765 4321<br>
    <mat-icon>mail</mat-icon>:
    <a href="mailto:dheena5880n@gmail.com">dheena5880@gmail.com</a>
  </address>
</div>
</div>
</div>
<div fxFlex="100" fxFlex.gt-sm="45">
<div style="text-align:center">
  <mat-list >
    <mat-list-item ><a href="https://www.facebook.com/profile.php?id=100012133861608"><mat-icon>facebook</mat-icon>Facebook</a></mat-list-item>
    <mat-list-item > <a href="Mailto:dheena5880@gmail.com"><mat-icon>mail</mat-icon>Mail</a></mat-list-item>
    <mat-list-item ><mat-icon>share</mat-icon> <a href="">Whatsapp</a></mat-list-item>
    <mat-list-item ><a mat-button (click)="opendialog()"><mat-icon></mat-icon>Terms and condition</a></mat-list-item>
    <mat-list-item > <a  mat-button (click)="opendialog()"><mat-icon>book</mat-icon>policy</a></mat-list-item>
    <mat-list-item > <a href="https://naturalpicsdinesh.blogspot.com"><mat-icon>blog</mat-icon>blog</a></mat-list-item>
    <mat-list-item ><mat-icon></mat-icon> <a href="">goweb</a></mat-list-item>
    
        </mat-list>
</div>
</div>
<div>
  <p>© Copyright 2020 Go Web</p>
</div>
</div>