<div class="container"
Fxlayout="row"
fxLayout.gt-xs="row"
fxLayout.xs="column"
FxlayoutGap="20px">

    <mat-card fxFlex="50">
        <mat-card-header>
            <mat-card-title>
              W4schools
            </mat-card-title>
            <mat-card-subtitle>
                Javascript Tutorials
         </mat-card-subtitle>
        </mat-card-header>
        <a href="https://dharanidharan17e109.github.io/"> <img  mat-card-image src="https://lh3.googleusercontent.com/-jt1kVpchqKA/X-bS8CHz66I/AAAAAAAAGMk/MKDA24gSHR01RHGykBM5TlseJCkHD-rvQCLcBGAsYHQ/w640-h304/image.png" alt="">
        </a><mat-card-content class="con">
            This is a Javascript language website created by the students of EEE department of Karpagam college of engineering .This is to enlighten the students about the Javascript language in a easy manner.
            The purpose to create this website is to establish the importance of Javascript language in creating webpage.At current scenerio the demand of JS language in creating webpage in web based industries is becoming high 
            .So this is solely to learn the step by step procedure in creating a webpage using javascript language.
        </mat-card-content>
        <mat-card-footer>
            <h1>Link:  <a href="https://dharanidharan17e109.github.io/">W4Schools</a></h1>
        </mat-card-footer>
    </mat-card><br>
    <mat-card fxFlex="50">

        <mat-card-header>
            <mat-card-title>
             Flower Rate
            </mat-card-title>
            <mat-card-subtitle>
                   Daily updates of flower at sathyamangalam
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="con">
            <a href="https://hotel-c2811.web.app/">  <img  mat-card-image src="https://lh3.googleusercontent.com/-2h3xeIJLFPI/X-bSXH01JWI/AAAAAAAAGMc/5K9kH2exLCc2RlDazwVs1H524DzzU3qVACLcBGAsYHQ/w640-h316/image.png" alt="">
            </a>
        This is a Flower Rate website created by the students of EEE department of Karpagam college of engineering .This is to enlighten the students about the Javascript language in a easy manner.
        The purpose to create this website is to establish the importance of Javascript language in creating webpage.At current scenerio the demand of JS language in creating webpage in web based industries is becoming high 
        .So this is solely to learn the step by step procedure in creating a webpage using javascript language.
        </mat-card-content>
        <mat-card-footer>
            <h1>Link:  <a href="https://hotel-c2811.web.app/">Flower Rate</a></h1>
        </mat-card-footer>
    </mat-card></div><br>
<div  class="container"
layout="row"
fxLayout.gt-xs="row"
fxLayout.xs="column"
FxlayoutGap="10px">

    <mat-card fxFlex="50">

        <mat-card-header>
            <mat-card-title>
             Hotel Website
            </mat-card-title>
            <mat-card-subtitle>
                   Hotel menu are avaliable here
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="con">
            <a href="https://dinesh17e307.github.io/myapp/home">  <img  mat-card-image src="https://lh3.googleusercontent.com/-zR7MaxFVLjc/X-3wNN2bPsI/AAAAAAAAGNE/aJu5C8aN4yQDSuIfUzP6sRkrJUY9ROdlwCLcBGAsYHQ/w640-h302/image.png" alt="">
            </a>
        This is a Hotel Menu website created by the students of EEE department of Karpagam college of engineering .This is to enlighten the students about the Javascript language in a easy manner.
        The purpose to create this website is to establish the importance of Javascript language in creating webpage.At current scenerio the demand of JS language in creating webpage in web based industries is becoming high 
        .So this is solely to learn the step by step procedure in creating a webpage using javascript language.
        </mat-card-content>
        <mat-card-footer>
            <h1>Link:  <a href="https://dinesh17e307.github.io/myapp/home">Hotel Website</a></h1>
        </mat-card-footer>
    </mat-card><br>
</div>