<mat-toolbar color="primary">
    Our Policies
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<ul>
    <li>
        The given phone NUmber is not true,contact only through  <strong>mail or placeorder</strong>.if you really inneed.
    </li>
    <li>
        its is not a company or startup,may be in future (after 10 years) just for passion
    </li>
    <li>This websites just for creation of websites due  to passion</li>
    <li>
        if any one need website for their small buisness,they can approach us
    </li>
    <li>
        But ,the completion of project date is not discussed previously,it may take some more time to 
        complete your place to create a websites for your buisness
    </li>
    <li>
        we have a right to reject your order too,because of unavaliability
    </li>
</ul>