<mat-toolbar color="primary">
    Our Policies
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<ul>
    <li>This websites just for creation of websites due passion</li>
    <li>
        if any one need website for their small buisness,they can approach us
    </li>
    <li>
        But ,the completion of project date is not discussed previously,it may take some more time to 
        complete your place to craete a websites for your buisness
    </li>
</ul>