  

    
        <div  class="offer" class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.gt-md="space-around center"
        fxLayoutGap="10px" >
          <mat-card style=" margin-left: 50px;" fxFlex="30">
          <mat-card-content>
          <h3 >Get your imagine website for ₹ 5000.00*/1st time.  <br>
            <button   mat-button class="getit" routerLink="/placeorder">Get it now</button>
          </h3>
          <h3>Get into your buisness with our Passion <br> <span style="font-size:20px;">let us join our hands to growup </span> </h3>
        </mat-card-content>
      
          </mat-card>
    <mat-card class="con" fxFlex="70">
    <table><tr><td><span class="head">The company is about ,what you think</span>
      </td></tr>
    <tr><td>
        <mat-card-content>
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up
     one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
      classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus 
      Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics,
       very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 
       st true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence 
       structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition,
        injected humour, or non-characteristic words etc.

        
     There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text
    </mat-card-content></td></tr></table>
    </mat-card>
        </div>
        <div class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.gt-md="space-around center"
        fxLayoutGap="10px" s>
          <mat-card fxFlex="50" >
            
              <img class="grid1" mat-card-image src="https://www.teahub.io/photos/full/88-880026_web-design-images-hd.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                  commodo consequat.
                </p>
              </mat-card-content>
          </mat-card>
          <mat-card fxFlex="50">
              <img class="grid1" mat-card-image src="https://www.wallpaperup.com/uploads/wallpapers/2014/05/20/355019/fdd28f59a8d8f2260a8f50e461cc3102-1000.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                  commodo consequat.
                </p>
              </mat-card-content>
            </mat-card>
          
        </div>
       