  

    
        <div  class="offer" class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.gt-md="space-around center"
        fxLayoutGap="10px" >
          <mat-card style=" margin-left: 50px;" fxFlex="40">
          <mat-card-content class="offer">
          <h2 >Get your imagine website for ₹ 5000.00*/1st time.</h2> 
            <button     mat-button class="getit" routerLink="/placeorder">Get it now</button>
          
          <h2>Get into your buisness with our Passion let us join our hands to growup </h2>
        </mat-card-content>
      
          </mat-card>
    <mat-card  fxFlex="60">
    <table><tr><td><span class="head">The company is about ,what you think</span>
      </td></tr>
    <tr><td>
        <mat-card-content class="con"><p>
          Web designers plan, create and code internet sites and web pages, many of which combine text with sounds, pictures, 
          graphics and video clips. A web designer is responsible for creating the design and 
          layout of a website or web pages. It and can mean working on a brand new website or updating an already existing site.
          Website designers may consider it to be good practice to conform to standards. This is usually done via a description specifying 
          what the element is doing. Failure to conform to standards may not make a website unusable or error prone, but standards can relate
           to the correct layout of pages for readability as well making sure coded elements are closed appropriately. This includes errors
            in code, more organized layout for code, and making sure IDs and classes are identified properly. Poorly coded pages are 
            sometimes colloquially called tag soup. Validating via W3C can only be done when a correct DOCTYPE declaration is made, 
          which is used to highlight errors in code. The system identifies the errors and areas that do not conform to web design standards.</p>
    </mat-card-content></td></tr></table>
    </mat-card>
        </div>
        <div class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.gt-md="space-around center"
        fxLayoutGap="10px" >
          <mat-card fxFlex="50" >
            
              <img class="grid1" mat-card-image src="https://www.teahub.io/photos/full/88-880026_web-design-images-hd.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content class="con">
                <p>In recent days AI has been playing Vital role in ruling tech world .To develop AI and MEAN stack development we want transform the 
                  normal world in automation using trending languages
                  Artificial Intelligence has been emerging from the scratch to turn the world into more automation
                </p>
              </mat-card-content>
          </mat-card>
          <mat-card fxFlex="50">
              <img class="grid1" mat-card-image src="https://www.wallpaperup.com/uploads/wallpapers/2014/05/20/355019/fdd28f59a8d8f2260a8f50e461cc3102-1000.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content class="con">
                <p>Digital world is full of with new technology which ever man had thought that it would be possible in 
                  normal world ,so many thing are emerging to change the world into digitally adoptable world
                  digital transformation is one of the most important perspective of all IT companys
                </p>
              </mat-card-content>
            </mat-card>
        </div>
            <div class="container" 
        fxLayout="row"
        fxLayout.sm="row"
        fxLayout.xs="column"
        fxLayoutAlign.gt-md="space-around center"
        fxLayoutGap="10px" >
            <mat-card  fxFlex="90">
              <mat-card-header>
               <h1>Hiring Process</h1> 
              </mat-card-header>
              <img  mat-card-image src="https://www.brandignity.com/wp-content/uploads/2016/07/web-design-tips.jpg" alt="">
              <mat-card-content class="con">
                A relevant diploma in related field. Proficiency in graphic design software including Adobe Photoshop, Adobe Illustrator,
                 and other visual design tools. Proficiency in front-end development web programming
                 languages such as HTML and CSS, JQuery, and JavaScript. <br><br><br>
                 <br>
                 <button   mat-button color=primary style="width: 20px;">Apply Now</button>
              </mat-card-content>
            </mat-card>
           
        </div>
        <div class="container" 
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.gt-md="space-around center"
        fxLayoutGap="10px" >
            <mat-card  fxFlex="100">
              <mat-card-header>
               <h1>Tools of future world</h1> 
              </mat-card-header>
              <mat-card-content class="con">
                A relevant diploma in related field. Proficiency in graphic design software including Adobe Photoshop, Adobe Illustrator,
                 and other visual design tools. Proficiency in front-end development web programming
                 languages such as HTML and CSS, JQuery, and JavaScript. <br><br><br>
                 <img  mat-card-image src="https://www.freecodecamp.org/news/content/images/2020/04/screely-1586183781361.png" alt=""><br>
                 <img class="ani" mat-card-image src="https://www.valuecoders.com/blog/wp-content/uploads/2019/07/custom-web-development.jpg" alt="" 
                 ><br>
              </mat-card-content>
            </mat-card>
           
        </div>
       